.backOffice_main_layout {
  background-image: url("https://res.cloudinary.com/dfogbvvvs/image/upload/v1720771197/z0p4pd2zqpxzn0mfxj3z.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .slider_content {
    min-width: 220px !important;
    max-width: 240px !important;
    .ant-layout-sider-children {
      .demo-logo-vertical {
        color: $text-white;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
        padding: 5px 8px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
      .navigation_contents {
        height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        .ant-menu {
          height: fit-content;
          // margin-bottom: 50px;
          .ant-menu-item,
          .ant-menu-submenu {
            &:hover {
              background-color: rgb(0, 102, 255);
              border-radius: 8px;
            }
          }
        }
        .subscription_card_container {
          margin-bottom: 100px;
          .subscription_card {
            background-color: $text-black;
            margin-inline: 10px;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            color: $text-white;
            .note {
              padding: 8px;
              p {
                border-left: 2px solid orange;
                border-radius: 3px;
                padding-inline: 5px;
              }
            }
            .buttons {
              display: flex;
              flex-direction: row;
              border-top: 2px solid #dddd;
              .change_plan {
                border-right: 2px solid #dddd;
              }
              button {
                padding: 8px;
                text-align: center;
                width: 100%;
              }
            }
          }
        }
      }
      .navigation_contents::-webkit-scrollbar {
        display: none;
      }
    }
    .ant-layout-sider-trigger {
      min-width: 220px !important;
      max-width: 240px !important;
    }
  }
  .slider_content_collapsed {
    width: 80px !important;
    .demo-logo-vertical {
      color: $text-white;
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      font-size: 30px;
      font-weight: 600;
      padding: 5px 8px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
    .ant-layout-sider-trigger {
      min-width: 80px !important;
      width: 80px !important;
    }
  }
}
