.globalFormInputField {
  .globalFormInputField_controller {
    .ant-input-number {
      .ant-input-number-input-wrap {
        height: 100%;
        input {
          height: 100%;
        }
      }
    }
    .ant-select {
      .ant-select-selector {
        border: none !important;
      }
    }
  }
}
.currency_select{
    
}