@mixin custom_scrollbar {
  &::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f12e !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #aeaeae !important;
    // border-radius: 5px !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
}

@mixin hidden_scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
.custom_scrollbar {
  &::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f12e !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #aeaeae !important;
    // border-radius: 5px !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
}
.primary_scrollbar {
  &::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
  }

  &::-webkit-scrollbar-track {
    background: gray !important;
  }

  &::-webkit-scrollbar-thumb {
    background: blue !important;
    // border-radius: 5px !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 1, 99) !important;
  }
}

.hidden_scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
.loader-container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}