.main_body {
  background-color: $bgColor;
}
.searchInput {
  transition: all ease-in-out 1s;
  &:hover {
    width: 400px;
  }
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.white_spin {
  .ant-spin-dot-holder {
    .ant-spin-dot {
      .ant-spin-dot-item {
        background-color: $whiteColor;
      }
    }
  }
}
.add_new_form_container {
  .global_form_container {
    form {
      .ant-card {
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
