.main_body {
  background-color: $bgColor;
}
.searchInput {
  transition: all ease-in-out 1s;
  &:hover {
    width: 400px;
  }
}
.sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 1000; 
}
