$primary: #1c64f2;
$primary_dark: #020617;
$secondary: #002140;
$tertiary: #001529;
$text_white: #a6adb4;
$primary_light: #1c63f25b;
$black: #0b2a46;
$gray: #e5e1da;
$gray2: #546a7e;
$bgColor: #f5f5f5;
$bgColorDark: #eeecec;
$purple: #4b56c0;
$light_blue: rgb(144, 182, 218);
$borderColor: #546a7e4d;
$border_light: #aeaeae;
$border_light2: #0000001a;
$whiteColor: #ffffff;
$red: #f34141;
$red_light: #f341411a;
$line_color: #dfdddd;
$textGray: #565b65;
$leftMenuBar: #0e200d;
$placeholder_color: #636363;
