//$primary_color:#000073;
$primary_color: #27ac1f;
$primary_color_light: #27ac1f1a;
$primary_color_hover: #041420;
$secondary_color: #03001e;
$light_dark: rgba(0, 0, 0, 0.856);
$border: 1px solid rgb(202, 202, 202);
$box_shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

//bg-color (added by akash)
$bg-white: #ffffff;
$bg-red-light: #ff01013d;
$bg-tiffany-blue: #0ac0a6;
$bg-ghost-white: #f6f7fc;
$bg-gradient: linear-gradient(115.35deg, #062539 21.75%, #1ee9c4 262.8%);
$bg-Dark-slate-gray: #304a5b;
$bg-midnight-green: #133e53;
$bg-bright-gray: #eeeff3;
$bg-light-gary: #cbd3d7;
$bg-dark-electric-blue: #566b78;
$bg-blueberry: #4285f4;
$bgColor: #f5f5f5f5;
//text-color (added by akash)
$text-white: #ffffff;
$text-police-blue: #385161;
$text-black: #000000;
$text-maastricht-Blue: #062539;
$text-chinese-silver: #c5ccd1;

//text font and size
$text-headline: "Roboto", sans-serif;
$text-normal: "Poppins", sans-serif;
$text-tiny: 12px;
$text-small: 14px;
$text-medium: 16px;
$text-extra-medium: 18px;
$text-large: 20px;
$text-extra-large: 22px;
$text-headline-size: 24px;

//Others Variable
$default-radius: 10px;
$default-box-shadow: 0px 4px 40px rgba(6, 37, 57, 0.1);
$illustration-background: rgba(0, 174, 211, 0.25);
$illustration-background-filter: blur(100px);
$input_placeholder_color: #9da8b2;
$input_height: 45px;

//new layout
$newColor: "#4F4F4F";
$newColor2: "#828282";
$newColor2: "#F87A1D";
$primary_color_p2: #27ac1f;
$primary_color_p2_light: #f2f6ff;
$secondary_color_p2: #e1d9fc;
$secondary_color_p2_light: #f7f7fc;
$background-2: #eaeefd;
$background-2-hover: #d6d9e3;
$border-2: #27ac1f;

// font family
$mulish: "Mulish", sans-serif;
$poppins: "Poppins", sans-serif;

//school hub
$primary_color_sh: #26ac1f;
$secondary_color_sh: #85fe78;
$bunky_color_sh: #12181e;
$white_color_sh: white;

// chat text color
$headerTextColor: #000000ce;

//New UI Variable
$primary_light: #27ac1f1a;

$primary: #27ac1f;
$black: #0b2a46;
$gray: #E5E1DA;
$gray2: #546a7e;
$bgColor: #f5f5f5;
$bgColorDark: #eeecec;
$orange: #ef7817;
$lightGreen: #00c177;
$purple: #4b56c0;
$light_blue: rgb(144, 182, 218);
$blueColor: #00d7c4;
$borderColor: #546a7e4d;
$border_light: #aeaeae;
$border_light2: #0000001A;
$whiteColor: #ffffff;
$red: #f34141;
$red_light:#F341411A;
$line_color: #DFDDDD;
$textGray: #565B65;
$leftMenuBar: #0E200D;
$placeholder_color: #636363;
