.inventory_dashboard_layout {
  .sidebar {
  }
  .main_container {
    background-color: $bgColor;
    min-height: 100%;
    .main_content {
      height: calc(10vh - 60px);
      overflow-y: auto;
      @include custom_scrollbar;
    }
  }
}
