@tailwind base;
@tailwind components;
@tailwind utilities;

//common
@import "./common/default.scss";

// Global css
@import "./global/variable";
@import "./global/common";

// components
// components-dashboard
@import "./components/dashboard/header";
@import "./components/dashboard/searchInput";
@import "./components/dashboard/inventory/inventory_header";

// back office pages
@import "./back-office/layout";

// inventory dashboard
@import "./back-office/inventory-dashboard/layout";

// inventory dashboard page
@import "./back-office/inventory-dashboard/home/layout";
@import "./back-office/inventory-dashboard/home/overview/page";
@import "./back-office/inventory-dashboard/inventory/item/new/index";
