@tailwind base;
@tailwind components;
@tailwind utilities;

.header_bg{
  background-image: url("https://res.cloudinary.com/dfogbvvvs/image/upload/v1720771197/z0p4pd2zqpxzn0mfxj3z.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

